# Ignore everything except skc_imdb_webapp_improvement
/*
!/.gitignore
!/skc_imdb_webapp_improvement/

# Inside skc_imdb_webapp_improvement, ignore standard items
skc_imdb_webapp_improvement/node_modules/
skc_imdb_webapp_improvement/dist/
skc_imdb_webapp_improvement/out/
skc_imdb_webapp_improvement/release/
skc_imdb_webapp_improvement/.DS_Store
